#sticky-title {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #111;
  color: white;
  padding: 20px;
  font-size: 300%;
  font-family: fantasy, copperplate;
}

#title {
  margin: 0;
  padding: 0;
}

#title span {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  padding: 20px;
}

h3 {
  position: right; 
}

p {
  text-align: right;
  width: 100%;
}

