#title span {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

#title {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: rgb(121, 104, 147);
  padding: 20px;
  font-size: 150px;
  font-family: fantasy, copperplate;
}

body {
  background-color: black;
  color: beige;
  margin: 0; 
  padding: 0; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  padding: 20px;
}

.container p {
  width: 50%;     
  text-align: right; 
  margin: 0;     
}

h2 {
  text-align: right;
  font-family: monospace, 'Lucida Sans';
  color: beige;
}

h3 {
  text-align: right;
  font-family: monospace, 'Lucida Sans';
  color: beige;
}

p {
  text-align: right;
  width: 100%;
  font-family: monospace, 'Lucida Sans';
  color: beige;
}
