#title span {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

#sticky-title {
  position: sticky;
  top: 0;
  z-index: 1000;
  color: white;
  padding: 20px;
  font-size: 300%;
  font-family: fantasy, copperplate;
}

#title {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  padding: 20px;
}

h3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

p {
  text-align: right;
  width: 50%;
}
