#title span {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

#title {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: rgb(113, 6, 6);
  padding: 20px;
  font-size: 150px;
  font-family: fantasy, copperplate;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 50%;
  padding: 20px;
}

h2 {
  text-align: right;
  font-family: monospace, 'Lucida Sans';
}

h3 {
  text-align: right;
  font-family: monospace, 'Lucida Sans';
}

p {
  text-align: right;
  width: 100%;
  font-family: monospace, 'Lucida Sans';
}
