#sticky-title {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #111;
  color: white;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  padding: 20px;
}

h3 {
  position: right; 
}

p {
  text-align: right;
  width: 100%;
}

