#title span {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

#title {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: rgb(200, 133, 206);
  padding: 20px;
  font-size: 120px;
  font-family: fantasy, copperplate;
}

body {
  background-color: black;
  color: beige;
  margin: 0; 
  padding: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-left: auto;
  padding: 20px;
}

h2 {
  font-family: fantasy, copperplate;
  color: rgb(200, 133, 206);
  font-size: 60px;
  margin-left: 20px;
  position: sticky;
  top: 230px;
  z-index: 1000;
}

h3 {
  text-align: right;
  font-family: monospace, 'Lucida Sans';
  color: beige;
  font-size: 32px;
}

p {
  margin-left: auto;
  text-align: right;
  width: 50vw;
  font-family: monospace, 'Lucida Sans';
  color: beige;
  padding-right: 10px;
}

.container p {  
  width: 100%;
  text-align: right; 
  margin: 0;     
}
