html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#title span {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

#title {
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: "Archivo Black", sans-serif;
  color: rgb(200, 133, 206);
  padding: .5em;
  font-size: 5em;
}

body {
  background-color: black;
  color: beige;
  margin: 0; 
  font-size: 1em;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 1.25em;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  background-color: rgb(200, 133, 206);
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  position: relative; 
  z-index: 1000;
}


h3 {
  text-align: right;
  font-family: monospace, 'Lucida Sans';
  color: beige;
  font-size: 2em;
}

p {
  margin-left: auto;
  text-align: right;
  width: 50vw;
  font-family: monospace, 'Lucida Sans';
  color: beige;
  font-size: 1.25em;
}

.container p {  
  width: 100%;
  text-align: right; 
  margin: 0;     
}

.footer {
  font-family: "Archivo Black", sans-serif;
  background-color: rgb(200, 133, 206);
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  position: relative;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  margin-bottom: 4em;
}

.repeat-text {
  white-space: nowrap;
}

.back-to-top {
  position: fixed;
  bottom: 1em;
  left: 1.5em;
  background-color: rgb(200, 133, 206);
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.back-to-top:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  #title,
  h2 {
    text-align: left;
    padding: .5em;
    font-size: 4em;
  }

  .container {
    align-items: flex-start;
    padding: 1em;
  }

  p,
  .container p {
    width: 100%;
    text-align: right;
    padding: 0.75em;
    margin: 0 auto;
    font-size: 1.125em;
  }

  h3 {
    text-align: right;
    font-size: 1.5em;
  }
}