html {
  font-size: 16px;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#title span {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

#title {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: "Archivo Black", sans-serif;
  color: rgb(200, 133, 206);
  padding: .5em;
  font-size: 7.5em;
}

body {
  background-color: black;
  color: beige;
  margin: 0; 
  padding: .625em; 
  font-size: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 1.25em;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  color: rgb(200, 133, 206);
  font-size: 4em;
  margin-left: auto;
  position: sticky;
  top: 6.5em;
  z-index: 1000;
  margin-left: 2.5em;
}

h3 {
  text-align: right;
  font-family: monospace, 'Lucida Sans';
  color: beige;
  font-size: 2em;
}

p {
  margin-left: auto;
  text-align: right;
  width: 50vw;
  font-family: monospace, 'Lucida Sans';
  color: beige;
  padding-right: .625em;
  font-size: 1.25em;
}

.container p {  
  width: 100%;
  text-align: right; 
  margin: 0;     
}

@media screen and (max-width: 600px) {
  #title,
  h2 {
    text-align: left;
    padding: .5em;
    font-size: 4em;
  }

  .container {
    align-items: flex-start;
    padding: 1em;
  }

  p,
  .container p {
    width: 100%;
    text-align: right;
    padding: 0.75em;
    margin: 0 auto;
    font-size: 1.125em;
  }

  h3 {
    text-align: right;
    font-size: 1.5em;
  }
}