html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: beige;
  margin: 0;
  font-size: 1em;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

/* Mirror the Vanta background horizontally */
#vanta-bg canvas {
  transform: scaleX(-1);
  transform-origin: center;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#title span {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

#title {
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-family: "Archivo Black", sans-serif;
  color: rgb(200, 133, 206);
  padding: .5em;
  font-size: 5em;
  max-width: 100%;
  box-sizing: border-box;
}


.site-nav {
  position: fixed;          
  top: 3.75em;              
  left: 0;
  right: 0;
  z-index: 999;             
  padding: 0.35em 1rem;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;              
  gap: 2.25rem;
  justify-content: flex-end;
  align-items: center;
}

.nav-list li {
  margin: 0;                
}

.nav-list a {
  text-decoration: none;
  font-family: monospace; 
  text-transform: uppercase;
  font-size: clamp(1.35rem, 3vw, 1.575rem);
  color: #e7d6f3;
  padding: 0.25em 0.1em;
  position: relative;
  transition: transform 120ms ease;
  text-shadow:
    0 0 2px #39ff14,
    0 0 5px #39ff14,
    0 0 10px #ffea00,
    0 0 15px #ffea00;
  animation: glowShift 4s ease-in-out infinite alternate,
             flicker 3.5s infinite;
  opacity: 0.9;
}


.nav-list a:hover,
.nav-list a:focus-visible {
  transform: translateY(-1px);
  outline: none;
}


.nav-list a::after {
  content: "";
  position: absolute;
  left: 0; right: 0; bottom: -3px;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 140ms ease;
  background: linear-gradient(90deg, #39ff14, #ffea00);
}

.nav-list a:hover::after,
.nav-list a:focus-visible::after,
.nav-list a.active::after {
  transform: scaleX(1);
}


/* Content spacing       */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 1.25em;
  margin-top: 20em;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  background-color: rgb(200, 133, 206);
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  margin-left: 5em;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}

.page-description {
  display: flex;
  justify-content: flex-end;
  margin-top: 12em;
  color: rgb(200, 133, 206);
  font-size: .5em;
  background-color: none;
  font-weight: none;
}

h3 {
  text-align: right;
  font-family: monospace, 'Lucida Sans';
  color: beige;
  font-size: 2em;
  padding-right: .25em;
}

p {
  margin-left: auto;
  text-align: right;
  width: 50vw;
  font-family: monospace, 'Lucida Sans';
  color: beige;
  font-size: 1.25em;
  padding-right: .25em;
}

.block-text {
  text-align: justify;
}

.container p {
  width: 100%;
  text-align: right;
  margin: 0;
  padding-right: .25em;
}

.punkglowtitle {
  font-family: monospace;
  font-size: 2em;
  color: #e7d6f3;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  text-shadow:
    0 0 2px #39ff14,
    0 0 5px #39ff14,
    0 0 10px #ffea00,
    0 0 15px #ffea00;
  animation: glowShift 6s ease-in-out infinite alternate,
             flicker 2.5s infinite;
  opacity: 0.9;
  margin-top: 1em;
}

.punkglow {
  font-family: monospace;
  font-size: 1.25em;
  color: #e7d6f3;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
  text-shadow:
    0 0 2px #39ff14,
    0 0 5px #39ff14,
    0 0 10px #ffea00,
    0 0 15px #ffea00;
  animation: glowShift 6s ease-in-out infinite alternate,
             flicker 2.5s infinite;
  opacity: 0.9;
  margin-top: 1em;
}

.repeat-text1 {
  white-space: nowrap;
  margin-top: 7.5em;
  display: block;
  word-spacing: 3em;
  color: black;
}

.back-to-top {
  left: 1.5em;
  background-color: rgb(200, 133, 206);
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.back-to-top:hover {
  opacity: 0.8;
}

/* Hide scrollbars visually but keep scrolling */
html, body {
  -ms-overflow-style: none;   /* IE/Edge (legacy) */
  scrollbar-width: none;      /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;                   /* Chrome/Safari/Opera */
  height: 0;
}


@keyframes glowShift {
  0% {
    text-shadow:
      0 0 2px #39ff14,
      0 0 5px #39ff14,
      0 0 10px #ffea00,
      0 0 15px #ffea00;
  }
  50% {
    text-shadow:
      0 0 3px #7dff57,   
      0 0 7px #7dff57,
      0 0 12px #ffe84a,  
      0 0 20px #ffe84a;
  }
  100% {
    text-shadow:
      0 0 2px #39ff14,
      0 0 5px #39ff14,
      0 0 10px #ffea00,
      0 0 15px #ffea00;
  }
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.4;
  }
}


/* Mobile tweaks         */

@media screen and (max-width: 400px) {
  #title {
    font-size: 1.5em;
    padding: 0.4em 0.5em;
    text-align: left;
  }

  .site-nav {
    top: 2.75em;
    padding: 0.25em 0.75em;
  }

  .nav-list {
    gap: 0.75rem;
    justify-content: flex-start; 
  }

  body {
    padding-bottom: 0;
  }

  h2 {
    font-size: 1.25em;
    margin-top: 11em;
    padding: 0.4em 0.5em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
  }

  .container {
    align-items: flex-start;
    padding: 0.75em 1em;
  }

  h3 {
    font-size: 1.25em;
    text-align: right;
    padding-right: 0.5em;
    margin-top: 0.4em;
    width: 100%;
    padding: 0.5em 0.25em;
    margin: 0.25em 0;
    overflow-wrap: break-word;
  }

  p,
  .container p {
    width: 100%;
    text-align: right;
    padding: 0.5em 0.25em;
    margin: 0.25em 0;
    font-size: 1em;
    overflow-wrap: break-word;
  }

  .block-text {
    text-align: justify;
  }

  .back-to-top {
    padding: 0.4em 0.8em;
    font-size: 1em;
    left: 1em;
    bottom: 0.75em;
  }

  .repeat-text1,
  .repeat-text2 {
    white-space: nowrap;
    margin-top: 1em;
    word-wrap: break-word;
  }

  body, .container {
    padding-right: 0.5em;
  }
}
