body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 0.5s;
}

#box1:hover{
    background-color: purple;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: box2move 5s;
    animation-iteration-count: infinite;
}

@keyframes box2move{

    0%{
    left: 0px;
    }

    25%{
    left: 100px;    
    }

    50%{
    left: 200px;    
    }

    75%{
    left: 300px;    
    }

    100%{
    left: 400px;    
    }
    
}