body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 0.5s;
}

.box1:hover{
    background-color: purple;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;

}

@keyframes box2move{
    
}