body{
    background-color: olive;
}


#flex-parent{
    background-color: orangered;
}
#flex-parent p{
    padding:5vw;
    display: flex;
    flex-direction: row;
}

#flex-child1{
    order: 3
     
}
#flex-child2{
    order: 4
 
}
#flex-child3{
    order: 2
 
}
#flex-child4{
    order: 1
 
}


#grid-parent{
    background-color: lightcoral;
    height: 500px;
    width: 500px;
    margin-top: 10px;
    border: 5px solid red;
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 5;

}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    
}
#no1{

}
#no2{

}
#no3{

}
#no4{

}
#no5{

}
#no6{

}
#no7{

}
#no8{

}
#no9{

}