body{
    background-color: olive;
}

#flex-parent{
    background-color: orangered;
    width: auto;
    display: flex;
    flex-direction: row;
}
#flex-parent p{
    padding:5vw;
    width: auto;
    display: flex;
    flex-direction: row;
}

#flex-child1{
    order: 3;
}

#flex-child2{
    order: 4;
}

#flex-child3{
    order: 2;
}

#flex-child4{
    order: 1;
}

#grid-parent{
    background-color: lightcoral;
    height: 500px;
    width: 500px;
    margin-top: 10px;
    border: 5px solid red;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);

}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
#no1{
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 0;
    grid-column-end: 1;
}

#no2{
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

#no3{

}
#no4{

}
#no5{

}
#no6{

}
#no7{

}
#no8{

}
#no9{

}