#narrowScreen{
    background-color: green;
}
#wideScreen{
    background-color: red;
}
#shortScreen{
    background-color: turquoise;
}
#tallScreen{
    background-color: lavender;
}

@media screen and (max-width: 600px) {
  #title,
  h2 {
    text-align: center;
    padding: 1em;
    font-size: 4em;
  }

  .container {
    align-items: flex-start;
    padding: 1em;
  }

  p,
  .container p {
    width: 100%;
    text-align: left;
    padding: 0.75em;
    margin: 0 auto;
    font-size: 1.125em;
  }

  h3 {
    text-align: left;
    font-size: 1.5em;
  }
}