* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: url(Fashunn_Background1.jpg) no repeat center;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  background-color: white;
  border-top: 1mm solid black;
  border-bottom: 1mm solid black;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: black;
  text-shadow: 1px 1px 1px black;
}