h1{
    font: Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    font: Helvetica, sans-serif;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hotpink;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 0.5s;
}

nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:pink;
    font: Helvetica, sans-serif, 20px;
}

nav:hover{
    background-color: purple;
}

nav a:hover{
    background-color: white;
}


img{
    width:30vw;
    height: 30vh;
    margin: 100px;
    animation: turtlespin 5s;
    animation-iteration-count: 3;
}

@keyframes turtlespin{

    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
    
}

#chartreuse-ball{
    background-color: chartreuse;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}