body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    font: Helvetica;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: hotpink;
    font: Helvetica;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 0.5s;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:pink;
}

nav:hover{
    background-color: purple;
}


img{
    width:30vw;
    height: 30vh;
}

#chartreuse-ball{
    background-color: chartreuse;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}